node_modules/
dist/
.env
*.pyc
__pycache__/
.vscode/
.idea/
*.log
.DS_Store
ios/Pods/
android/.gradle/
android/app/build/
*.tsbuildinfo
.expo/
*.js
!*.config.js
!*.config.mjs
!webpack.config.js
!babel.config.js
!metro.config.js
!eslint.config.mjs
package-lock.json
tsconfig.tsbuildinfo
